@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body{
    background: rgba(35, 162, 226, 0.329);
}

/* navBar start */

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
     text-align: center;
     transition: 0.6s;
     padding: 40px 100px;
}
nav .logo{
    position: relative;
    font-weight: 700px;
    color: rgb(46, 34, 58);
    text-decoration: none;
    font-size: 2em;
    text-transform:uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
    z-index: 100000;
}
nav ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    position: relative;
    list-style: none;
}
nav ul li a{
    position: relative;
    margin: 0 10px;
    color: rgb(41, 23, 59);
    text-decoration: none;
    font-weight: 500px;
    text-transform:uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
    padding: 18px;
     transition: all 0.2s;
     border-radius: 15px;
}
nav ul li .text-logo:hover{
    /* border: #000 solid 1px; */
    background: #000;
    color: #f0f0f0;
 
    border-radius: 15px;
    transition: 0.9s ease-in-out;
}
nav ul li .icon{
    color: black;
    width: 90px;
    height: 90px;
}

/* navBar end */

/* start video */ 

.material-icons{
    user-select: none;
    -webkit-user-select: none;
    color: #fff;
    cursor: pointer;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 46px);
    min-height: 100vh;
    padding: 1.7%;
}
.container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container #video-player{
    position: relative;
    width: 700px;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
}

.container #video-player #main.video{

    position: relative;
    width: 100%;
    height: 100%;
    outline: none;
}
#video-player .progressAreaTime{
   position: absolute;
   left: var(--x);
   transform: translate(-50%);
   bottom: 60px;
   min-width: 60px;
   text-align: center;
   white-space: nowrap;
   padding: 5px 10px;
   color: #fff;
   font-size: 14px;
   background: #002333;
   border-radius: 5px;
   z-index: 1;
   display: none;
}
#video-player .progressAreaTime::before{
   content: '';
   position: absolute;
   bottom: -40%;
   left: 50%;
   transform:translate(-50%,-50%) rotate(45deg);
   background: #002333;
   width: 15px;
   height: 15px;
   z-index: -1;
}



.container #video-player video{
    width: 100%;
    height: 100%;
}
.container #video-player .controls{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background: rgb(0 0 0 /70% );
    box-shadow: 0 0 40px rgb(0 0 0 /25% );
    z-index: 3;
    transform: translateY(0);
}
 #video-player .controls .progress-area{
    width: 100%;
    height: 5px;
    margin: auto;
    background: #f0f0f0;
    cursor: pointer;
 }
 #video-player .controls .progress-bar{
position: relative;
    width: 0%;
    background: orangered;
    height: inherit;
    border-radius: inherit;

 }
 .controls .progress-area .progress-bar::before{
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    right: -5px;
    transform: translateY(-40%);
    background: orangered;
 }
 .controls  .cotrols-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 97%; 
    height: 45px;
    margin: 0 auto;
 }
 .controls  .cotrols-list .controls-left,
 .controls  .cotrols-list .controls-right
 {
display: flex;
justify-content: center;
align-items: center;

 }
 .controls   .controls-left .timer{
    display: inline-block;
    font-size: 12px;
    white-space: nowrap;
    color: #fff;
    margin-left: 5px;
    text-align: center;

 }
 .controls  .icon{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    margin-left:5px ;
    margin-right: 5px;

 }
 .controls  .icon .material-icons{
   font-size: 25px;
    width: 25px;
    color: white;
    cursor: pointer;
 }
 .controls  .icon .material-icons .fast-rewind{
    font-size: 26px;
    color: #fff;
 }
 .controls  .icon .material-icons.fast-rewind:active{
    transition: 0.2s;
    transform: rotate(-45deg);
 }
 .controls  .icon .material-icons.fast-forward:active{
    transition: 0.2s;
    transform: rotate(45deg);
 }

 .controls  .icon #volume_range{

    -webkit-appearance:none  ;
    appearance: none;
    height: 3px;
    width: 0px;
    background: #fff;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
    transition: 0.4s;
   
 }
 .controls  .icon #volume_range::-webkit-slider-thumb{
    opacity: 0;
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;
    outline: none;
    color: #fff;
    background: #fff;
    transition: 0.3s;
 }
 .controls  .icon:hover #volume_range{
    display: inline-block;
    width: 60px;
    

 }
 .controls  .icon:hover #volume_range::-webkit-slider-thumb{
    opacity: 1;
    pointer-events: auto;
    transition: 0.5s;
 }
 .controls-right .icon .auto-play
 {
width: 30px;
height: 10px;
border-radius: 20px;
position: relative;
margin-right: 8px !important; 
background: rgb(152, 148, 148);
 }

 .controls-right .icon .auto-play::before{
content: '\e034';
position: absolute;
left: -5px;
top: 50%;
transform: translateY(-50%);
width: 17px;
height: 17px;
line-height: 17px;
font-size: 14px;
background: gray;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
border-radius: 50%;
font-family: 'Material Icons';
    }

 .controls-right .icon .auto-play.active::before{
    content: '\e037';
    left: 15px;
    


 }
 .controls-right .icon .material-icons.settingsBtn{
    font-size: 24px;
    transition: 0.3s;

 }
 .controls-right .icon .settingsBtn.active{
    transform: rotate(45deg);
 }
 #video-player #settings{
    position: absolute;
    right: 25px;
    bottom: 62px;
    background: rgb(0 0 0 /80% );
    width: 200px;
    height: 250px;
    color: #fff;
    overflow: scroll;
    z-index: 20;
    display: none;
 }
 #video-player #settings.active{
   display: block;
 }

 #video-player #settings .playback span{
    font-size: 14px;
    font-weight: 300px;
    padding: 15px 30px;
    display: block;
    border-bottom:1px solid rgb(83,83,83);
 }
 #video-player #settings .playback ul{
    position: relative;
 }



 #video-player #settings .playback ul li{
    position: relative;
    width: 100%;
    cursor: pointer;
    text-align: left;
    padding: 12px 33px;
    display: block;
    font-size: 14px;
 }


 #video-player #settings .playback ul li:hover{
    background: rgba(28, 28, 29,0.9);
 }





 #video-player #settings .playback ul li.active::before
 {
    content: '\e876';
    font-family: 'Material Icons';
    position: absolute;
    left: 7px;
    top:50%;
    font-size: 18px;
    transform: translateY(-50%);
    padding-right:10px ;
    

 }




 #video-player #settings::-webkit-scrollbar{
    width: 8px;
    height: 100%;
    background: transparent;

 }

 
 #video-player #settings::-webkit-scrollbar-thumb{
    height: 20px;
    border: 2px solid transparent;
    background: rgba(83,83,83,0.9);
    border-radius: 20px;
 }

@media(max-width: 400px){
    .container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .controls .icon{
        margin-left:5px ;
        margin-right:5px ;
        font-size: 24px;

    }
    .vloume , #vloume_range .picture_in_picutre{
        display: none;
    }
}
/* end video */


.contaner1{
   display: flex;
   text-align: center;
   justify-content: center;
}
.upbtn{
   display: flex;
}
#uplload{
   width: 250px;
   border: 2px solid rgb(0, 0, 0);
   border-radius: 10px;
   background: rgba(0, 0, 0, 0.377);
   color: #fff;
   align-items: center;
   margin: 0px 15px;
   height: 35px;
  
}
#Upload{
   width: 200px;
   height: 35px;
   background: darkcyan;
   color: white;
   border-radius: 10px;
   border: none;
   font-size: 1.3rem;

}
#Upload:hover{
   background: rgb(102, 72, 160);
   color: black;
   transition: 0.5s ease-in-out;
  
}
.like-icon{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 15px;
   
   
}
.like{
   margin: 0px 15px;
   padding: 10px 15px;
   background: #7e67be65;
   border: none;
   border-radius: 8px;
   text-align: center;
   justify-content: center;
   font-size: 16px;
   color: beige;
   cursor: pointer;
}
 img {
   position: absolute;
   bottom: 70px;
   right: 10px;
   width: 50px;
   height: 40px;
   opacity: 0.5;
}
.p-inVideo{
   position: absolute;
   bottom: 30px;
   right: 20px;
   width: 50px;
   height: 40px;
   opacity: 0.9;
   color: #fff;
}